[package]
name = "bike"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
lto = true
opt-level = 's'

[dependencies]
macroquad = "0.4.2"
serde_json = "1.0"
